@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Poppins:wght@300&display=swap');

body {
    background-color: #f5cac3;
}

h1, p, legend, label {
    font-family: Poppins, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

.item {
    background-color: #f28482;
    padding: 2rem 3rem;
    margin: 20px;
}

button {
    font-family: Poppins, sans-serif;
    background-color: #f7ede2;
    padding: 0.5rem;
    cursor: pointer;
}